#bg {
    position: fixed; 
    top: 0; 
    left: 0; 

    width: 100vw;
    height: 100vh;

    z-index: -1;
  }

main {
  position: fixed;
  top: 0; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
  z-index: 0;
    
}

.middleView{
  position: fixed; 
  width: 50vw;
  height: 100vh;

  z-index: 1;
}

#leftView{
  top: 0;
  left: 0;
  background-color: rgba(88,109,138,0.64);

}

#LogIndex{
  position: fixed;
  top: 20vh;
  left: 37.5vw;

  width: 25vw;
  height: 60vh;

  z-index: 2;
}

#FOLSymb{
  position: fixed;
  top: 5vh;
  left: 5vw;
  
  width: 15vw;
  height: 40vh;
  z-index: 2;
}

#FOL{
  position: fixed;
  top: 8vh;
  left: 18vw;

  width: 20vw;
  height: 5vh;
  z-index: 2;
}

#rightView{
  top:0;
  left: 50vw;
  background-color: rgba(222,235,247,0.64);

}

#PLSymb{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  
  width: 15vw;
  height: 40vh;
  z-index: 2;
}


#PL{

  position: fixed;
  bottom: 8vh;
  right: 18vw;

  width: 20vw;
  height: 6vh;
  z-index: 2;

}








